---
import  MiComponente  from "@/components/MiComponente"


import Layout from "@/layouts/Layout.astro";

---

<Layout title="Cabecera">
<div class="p-10">
<div class="flex">
    <a href="/"> Inicio </a> 
    <p>&nbsp; / &nbsp;</p>
    <p>Cabecera</p>
    
</div>
</div>


<MiComponente client:load />
</Layout>@/components/MiComponente