---
import Header from "@/components/templates/Header";



import Layout from "@/layouts/Layout.astro";

---

<Layout title="Cabecera">
<div class="p-10">
<div class="flex">
    <a href="/"> Inicio </a> 
    <p>&nbsp; / &nbsp;</p>
    <p>Cabecera</p>
    
</div>
</div>


<Header client:load />
</Layout>