---
import Header from "@/components/templates/Header";
import Header2 from "@/components/templates/Header2";
import Header3 from "@/components/templates/Header3";

import Layout from "@/layouts/Layout.astro";

---

<Layout title="Cabecera">
<div class="p-10">
<div class="flex">
    <a href="/"> Inicio </a> 
    <p>&nbsp; / &nbsp;</p>
    <p>Cabecera</p>
    
</div>
</div>


<Header client:load />
<Header2 client:load />
<Header3 client:load />
</Layout>