---
import Layout from "@/layouts/Layout.astro";
---
<Layout title="Píe de página">

    <div class="p-10">
        <div class="flex">
            <a href="/"> Inicio </a> 
            <p>&nbsp; / &nbsp;</p>
            <p>Contenido</p>
            
        </div>
        </div>

</Layout>